{% extends 'layout.html' %}

{% block body %}
    <div class="flex items-center">
        {% if query %}
            <h1 class="mt-4 mb-6 text-2xl leading-none font-bold tracking-tight md:text-3xl lg:text-4xl">Search results</h1>
        {% else %}
            <h1 class="mt-4 mb-6 text-2xl leading-none font-bold tracking-tight md:text-3xl lg:text-4xl">Contact List</h1>
        {% endif %}
    </div>
    <div class="border mb-6"></div>
    {% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if not query %}
      
    <div class="mx-5">
        <form action="/contacts" method="get">
            <label for="search" class="block text-sm font-medium leading-6 text-gray-900">Search Term</label>
            <input id="search" type="text" name="search" class="input input-bordered w-full max-w-xs"/>
            <input type="submit" value="Search" class="btn"/>
        </form>
    </div>
    <div>
        <a href="{% url 'new-contact' %}" class="btn btn-lg mx-5 my-4 py-4"> Add Contact</a>
    </div>
    {% endif %}

    <br>
    <div class="overflow-x-auto">
        

    <div id="contact-list">
        {% include "contact/partials/contact_list.html" %}
    </div>
    

    {% if query %}
        <br>
        <a href="{% url 'index' %}" class="text-blue-700 underline">Back to contact list</a>
    {% endif %}


</div>

{% endblock body %}