{% extends 'layout.html' %}
{% load static %}

{% block body %}
<div id="todo">
    <div class="flex items-center">
            <h1 class="mt-4 mb-6 text-2xl leading-none font-bold tracking-tight md:text-3xl lg:text-4xl">{{ title }}</h1>
    </div>

    <div class="border mb-6"></div>
      
    <div class="mx-5">
        {% include "contact/partials/search_form.html" %}
    </div>
    
    <div>
        <a href="{% url 'new-contact' %}" class="btn btn-lg mx-5 my-4 py-4"> Add Contact</a>
    </div>
    {% include 'contact/partials/archive_ui.html' %}
    <br>
    <div class="overflow-x-auto">
        <div id="contacts-container">
            {% include "contact/partials/contact_list.html" %}
        </div>
    </div>
    <div class="border mb-6"></div>
    <div class="flex items-center justify-center">
        <p>
            <a class="btn btn-lg bg-green-200 hover:text-white mx-5 my-4 py-4" href="{% url 'new-contact' %}">Add Contact</a> 
              <span hx-get="{% url 'contact_count' %}"
                    hx-trigger="revealed">
                    <img id="spinner" class="htmx-indicator"
                        src="{% static 'images/spinning_circle.svg' %}"/>
                    
              </span> 
        </p>
    </div>

</div>

<section class="counter" data-counter>
  <output id="my-output" data-counter-output>0</output>  
  <button class="increment-btn btn btn-lg bg-red-200 hover:text-white mx-5 my-4 py-4" data-counter-increment>Increment</button>
  <button class="decrement-btn btn btn-lg bg-blue-200 hover:text-white mx-5 my-4 py-4" data-counter-decrement>Decrement</button>
</section>
<section class="counter" data-counter>
  <output id="tu-output" data-counter-output>0</output>  
  <button class="increment-btn btn btn-lg bg-red-200 hover:text-white mx-5 my-4 py-4" data-counter-increment>Increment</button>
  <button class="decrement-btn btn btn-lg bg-blue-200 hover:text-white mx-5 my-4 py-4" data-counter-decrement>Decrement</button>
</section>
<section class="counter" data-counter>
  <output id="su-output" data-counter-output>0</output>  
  <button class="increment-btn btn btn-lg bg-red-200 hover:text-white mx-5 my-4 py-4" data-counter-increment>Increment</button>
  <button class="decrement-btn btn btn-lg bg-blue-200 hover:text-white mx-5 my-4 py-4" data-counter-decrement>Decrement</button>
</section>

<script src="{% static 'js/index/counter.js' %}"></script>

<div class="flex justify-center"><h2 class="text-3xl underline">Alpine Counters</h2></div>
<div class="counter" x-data="{ count: 0 }">
    <output x-text="count"></output>
    <button class="btn btn-lg bg-yellow-200 hover:text-white mx-5 my-2 py-2" x-on:click="count++">Increment</button>
    <button class="btn btn-lg bg-yellow-200 hover:text-white mx-5 my-2 py-2" x-on:click="count--">Decrement</button>
</div>
{% endblock body %}