{% if messages %}
<div x-data="{ show: true }" x-init="setTimeout(() => show = false, 5000)" x-show="show" 
     class="fixed inset-x-0 top-4 mx-auto mt-2 max-w-xl z-50 flex items-center justify-between
            {% if message.tags == 'error' %}bg-red-500{% else %}bg-green-800{% endif %} text-white p-3 rounded-lg" role="alert">
     {% for message in messages  %}
        <p>{{ message }}</p>
     {% endfor %}
    <button @click="show = false" class="ml-4 hover:bg-green-300 text-white rounded-full px-4 py-2">X</button>
</div>
{% endif %}
